*.exe
*.o
*.bak
a.out
*.ow
*.filters
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.user
*.opensdf
Debug
*.komodoproject
.komodotools
solution
*.hi
*.pyc

# ocaml
*.cmi
*.cmo

# ada
*.ali

# java
*.class

# tests
_snippets/t/*
!_snippets/t/*.cpp
!_snippets/t/Makefile

