*.exe
*.o
*.bak
a.out
*.ow
*.filters
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.user
*.opensdf
Debug
*.komodoproject
.komodotools
solution
*.hi
*.pyc
.DS_Store

# ocaml
*.cmi
*.cmo

# ada
*.ali
main

# java
*.class

*.1

# tests
_snippets/t/*
!_snippets/t/*.cpp
!_snippets/t/Makefile
.vscode
